<center><h3>Questions</h3></center>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th>Exam</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stems.each do |stem| %>
      <tr>
        <td><%= stem.content %></td>
		<% exam = Exam.find(stem.exam_id) %>
	    <td><%= exam.content %></td>
        <td><%= link_to 'Show', stem %></td>
        <td><%= link_to 'Edit', edit_stem_path(stem) %></td>
        <td><%= link_to 'Destroy', stem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'New Question', new_stem_path, :class => "btn btn-primary" %></center>
