<%= simple_form_for(@objective) do |f| %>
  <% if @objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% @objective.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table">
	<tr><td><strong>Exam</strong></td><td><%= f.input :exam_id, as: :select, collection: @exams, :label_method => :content, :value_method => :id, label:false %></td></tr>
	<tr><td><strong>Objective</strong></td><td><%= f.text_field :objective %></td></tr>
	<tr></tr>
</table>
<br>
<center>
<%= f.button :submit, "Create Objective", :class => "btn btn-primary" %>
</center>
<br>
<% end %>
