<h1>Listing objectives</h1>

<table>
  <thead>
    <tr>
      <th>Objective</th>
      <th>Stem</th>
      <th>Exam</th>
      <th>Strength</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @objectives.each do |objective| %>
      <tr>
        <td><%= objective.objective %></td>
        <td><%= objective.stem_id %></td>
        <td><%= objective.exam_id %></td>
        <td><%= objective.strength_id %></td>
        <td><%= link_to 'Show', objective %></td>
        <td><%= link_to 'Edit', edit_objective_path(objective) %></td>
        <td><%= link_to 'Destroy', objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objective', new_objective_path %>
