<center><h3>Objectives</h3></center>

<table class="table">
  <thead>
    <tr>
      <th>Objective</th>
      <th>Exam</th>
	<% if user_signed_in? %>
	<% if current_user.is_admin == 1 %>
      <th></th>
      <th></th>
      <th></th>
	<% else%>
	<% end %>
	<% else %>
	<% end %>
    </tr>
  </thead>

  <tbody>
    <% @objectives.each do |objective| %>
      <tr>
        <td><%= objective.objective %></td>
		<% exam = Exam.find(objective.exam_id) %>
	    <td><%= exam.content %></td>
	<% if user_signed_in? %>
	<% if current_user.is_admin == 1 %>
        <td><%= link_to 'Show', objective %></td>
        <td><%= link_to 'Edit', edit_objective_path(objective) %></td>
        <td><%= link_to 'Destroy', objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
	<% end %>
	<% else %>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'New Objective', new_objective_path, :class => "btn btn-primary" %></center>
