<%= simple_form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<center>
<table class="table">
	<tr><td><strong>What lecture objective?</strong></td><td><%= f.input :objective_id, as: :select, collection: @objectives, :label_method => :objective, :value_method => :id, label:false %></td></tr>
	<tr><td><strong>How important?</strong></td><td><%= f.input :strength, collection:1..5, label:false %></td></tr>
	<%= f.input :stem_id, :as => :hidden, :input_html => {:value => @stem.id } %>
	
	<% if user_signed_in? %>
	<%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id } %>
	<% else %>
	<%= f.input :user_id, :as => :hidden, :input_html => {:value => 0 } %>
	<% end %>
	
</table>
</center>
<br>
<center>
<%= f.button :submit, "Submit!", :class => "btn btn-primary" %>
</center>
<br>
<% end %>

