<center><h3>Responses</h3></center>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Stem</th>
      <th>Objective</th>
      <th>Strength</th>
	<% if user_signed_in? %>
	<% if current_user.is_admin == 1 %>
      <th></th>
      <th></th>
      <th></th>
	<% else %>
	<% end %>
	<% else %>
	<% end %>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.user_id %></td>
        <td><%= response.stem_id %></td>
        <td><%= response.objective_id %></td>
        <td><%= response.strength %></td>
	<% if user_signed_in? %>
	<% if current_user.is_admin == 1 %>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
	<% end %>
	<% else %>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'New Response', new_response_path, :class => "btn btn-primary" %></center>
