<center><h3>Thanks for submitting a response!</h3></center>

<p>
  <strong>Stem:</strong>
  <%= @stem.content %>
</p>

<p>
  <strong>Objective:</strong> <%= %>
  <%= @objective.objective %>
</p>

<p>
  <strong>Strength:</strong> <%= %>
  <%= @response.strength %>
</p>

<p>
  <strong>User ID:</strong> <%= %>
  <%= @response.user_id %>
</p>

<center><%= link_to 'Submit another!', new_response_path, :class => "btn btn-primary" %></center>