<center><h3>Exams</h3></center>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th>Date</th>
      <th></th>
	<% if user_signed_in? %>
	<% if current_user.is_admin == 1 %>
      <th></th>
	  <th></th>
	<% else %>
	<% end %>
	<% else %>
	<% end %>
  </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.content %></td>
        <td><%= exam.examday %></td>
        <td><%= link_to 'Analyze', exam, :class => "btn btn-danger" %></td>
		<% if user_signed_in? %>
		<% if current_user.is_admin == 1 %>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td><%= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% else %>
		<% end %>
		<% else %>
		<% end %>  
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'New Exam', new_exam_path, :class => "btn btn-primary" %></center>
