<center><h3>Exams</h3></center>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.content %></td>
        <td><%= exam.examday %></td>
        <td><%= link_to 'Analyze!', exam %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
		<!-- Let's be a little more careful, now 
        <td><%= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'New Exam', new_exam_path, :class => "btn btn-primary" %></center>
