<center><h3><%= @exam.content %><br><small><%= @exam.examday %></small></h3></center>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Question</th>
	  <center>
	  <th>Objective - Rater 1</th>
	  <th>Objective - Rater 2</th>
	  <th>Agree?</th>
	  <th>Strength - Rater 1</th>
	  <th>Strength - Rater 2</th>
	  </center>
    </tr>
  </thead>
  <tbody>
    <% @stems.each do |stem| %>
      <tr>
        <td><%= stem.content %></td>
	  	<% responses = Response.where(:stem_id => stem.id).order("created_at").last(2)%>
		<% objarray = [] %>
			<% responses.each do |response| %>
				<td> <%= response.objective_id %></td>
				<% objarray.push(response.objective_id) %>
			<% end %>
			
			<% if objarray[0] == objarray[1] %>
			<td><span class="glyphicon glyphicon-ok"></span></td>		
			<% else %>
			<td>fail</td>
			<% end %>
			
			<% responses.each do |response| %>
				<td> <%= response.strength %></td>
			<% end %>		
      </tr>
    <% end %>
  	</tbody>
</table>


<br><br>
<%= link_to 'Back', exams_path %>
